[Unit]
Description=WebRTC Python Streaming Server
After=network.target

[Service]
Type=simple
User=test
WorkingDirectory=/home/test/vid2_server
ExecStart=/home/test/vid2_server/.venv/bin/python /home/test/vid2_server/server.py
Restart=always
RestartSec=5
Environment="PATH=/home/test/vid2_server/.venv/bin"

[Install]
WantedBy=multi-user.target
